<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Receipe App</a>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#" (click)="onSelect('receipe')">Receipes</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="onSelect('shopping')">Shopping List</a></li>
            </ul>


        </div>

        <ul class="nav nav-navbar d-flex justify-content-end">
            <li class="dropdown">
                <a href="" class="dropdown-toggle btn">Manage <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Save data</a></li>
                    <li><a href="#">Fetch data</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>