<div class="row">
    <div class="col-xs-12">
        <img [src]=" receipe.imagePath " alt="{{ receipe.name }}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <h1>{{ receipe.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle " data-toggle="dropdown">Manage Receipe <span class="caret"></span></button>
            <ul class="dropdown-menu" >
                <li class="dropdown-item"><a (click)="addToShoppingList()" style="cursor: pointer;">save to shopping</a></li>
                <li class="dropdown-item"><a >Edit Receipe</a></li>
                <li class="dropdown-item"><a >Delete Receipe</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <p>{{ receipe.description }}</p>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor ="let ingredient of receipe.ingredient">{{ingredient.name}} - {{ingredient.amount}}</li>
        </ul>
    </div>
</div>