<div class="row mt-4">
    <div class="col-xs-12">
        <button class="btn btn-success">New Receipe</button>
    </div>
</div>


<div class="row mt-4">
    <div class="col-xs-12">
        <a href="" class="list-group-item clearfix" *ngFor="let receipe of receipes">
            <div class="d-flex ml-auto flex-column">
                <h4 class="list-group-item-heading">{{ receipe.name }}</h4>
                <p class="list-group-item-text">{{ receipe.description }}</p>
            </div>

            <span class="d-flex ml-auto justify-content-end">
                <img [src]="receipe.imagePath" alt="" style="max-height : 120px" class="img-responsive">
            </span>
        </a>
        <app-receipe-item></app-receipe-item>
    </div>
</div>





